.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.dot {
  stroke: black;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 30px;
  pointer-events: none;
  display: none;
}
